@{
    ViewBag.Title = "Fallout Character Manager";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            Welcome! Don't stay long.
        </div>
    </section>
}
@Html.ActionLink("Lets Start this Party", "Index", "Game");